/* Left */
#row{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    max-width: 650px;
    max-height: 135px;
}
.row img{
    height: max-content;
}
.img-col{
    width: 25%;
}

/* Middle */
.mid-col{
    width:50%;
    padding: 1vw;
    background-color: #000105;
    grid-auto-rows: 1fr;
    display: grid;
    padding: 0.5rem;
    color: #fff;
}
.top-mid-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.timer-row{
    display: flex;
    flex-direction: row;
    width: 60%;
}
.timer-box{
    background-color: red;
    margin: 2px;
    width: 45px;
    font-weight: bold;
    text-align: center;
    height: 45px;
    line-height: 0.9;
}
.timer-letters{
    font-size: 1.2vw;
}
.timer-numbers{
    font-size: 3vw;
}

.scarcity-text{
    text-align: left;
    font-size: 1.2vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0.8;
    padding-left: 2rem;
    font-weight: bold;
}
.bottom-mid-row{
   line-height: 1;
}
.pick-text{
    color: #FFEF16;  
    font-size: 2vw;
    font-weight: bold; 
}
.bets-text{
    font-size: 1.5vw;
    font-weight: bold;
}
/* Right */
.btn-col{
    width:25%;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#btn{
    color: #000;
    background-image: linear-gradient(to top, #ff4208 0%, #FF8008 4%, #ffa908 100%, #feb517 100%);
    border-radius: 2px;
    padding: 1.5rem;
    font-size: 1.4vw;
    font-weight: bold;
}
.trusted-text{
    line-height: 1;
    font-size: 1.2vw;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}
#btn:hover{
    text-decoration: none;

}
@media only screen and (min-width: 925px){
    .timer-letters {
        font-size: .8vw;
    }
    .timer-numbers{
        font-size: 2vw;
    }
    .pick-text{
        font-size: 1.8vw;
    }
    .bets-text{
        font-size: 1.5vw;
    }
}
@media only screen and (max-width: 640px){
    #row{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 650px;
        max-height: 240px;
    }
    /* Top */
    .mid-col{
        order: 1;
        width: 100%;
    }
    .timer-letters {
        font-size: 2vw;
    }
    .timer-numbers {
        font-size: 4.5vw;
    }
    .bottom-mid-row{
        text-align: center;
        line-height: 0.5;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .pick-text{
        font-size: 3vw;
    }
    .bets-text{
        font-size: 2.8vw;
    }
    .scarcity-text{
        font-size: 2.4vw;
    }
    /* Bottom left */
    .img-col{
        order: 2;
        width: 50%;
        background-color: #1A1A1A;
    }
    /* Bottom right */
    .btn-col{
        order: 3;
        width: 50%;
    }
    #btn{
        font-size: 3vw;
    }
    .trusted-text{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 420px){
    .timer-letters {
        font-size: 2.5vw;
    }
    .timer-numbers {
        font-size: 6vw;
    }
    .pick-text{
        font-size: 5vw;
    }
    .bets-text{
        font-size: 4vw;
    }
    .scarcity-text{
        font-size: 3.8vw;
    }
    /* Bottom right */
    #btn{
        font-size: 4vw;
    }
    .trusted-text{
        font-size: 3.5vw;
    }
}